# Production Caddyfile

{$DOMAIN_NAME:domain.invalid} {
    encode gzip
	reverse_proxy frontend:80
}

www.{$DOMAIN_NAME:domain.invalid} {
    redir https://{$DOMAIN_NAME}.com{uri} permanent
}

api.{$DOMAIN_NAME:domain.invalid} {
    reverse_proxy api:4004

    rate_limit {
        # limit requests based on IP address
        zone api_limit {
            key {remote_host}
            events 100
            window 1m
        }

        zone burst_limit {
            key {remote_host}
            events 20
            window 1s
        }
    }
}
